/*font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
body{
  margin: 0;
}
h1{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.principal{
  background-image:linear-gradient(rgba(37, 37, 37, 0.733), rgba(19, 3, 78, 0)), url(/public/images/dientes.webp);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  background-color: lavender;
  padding: 50px;
  height: 300px;
}

#imgSmile{
  border-radius: 15px;
}