
body 
{
  margin: 0;
}

h2 
{
  color: white;
  text-align: center;
  font-size: 4vw;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 5px black;
}
ul 
{
  list-style: none;
}
li 
{
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  color: #080808;
  text-indent: -2%;
  width: 80%;
}
h3,h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: rgb(11, 86, 121);
  line-height: 30px;
}
form {
  font-family: "Ubuntu", sans-serif;
  padding: 30px;
  background-color: transparent;
  height: 300px;
}

input {
  border: 0px;
  border-radius: 10px;
  background-color: rgb(207, 207, 245);
  width: 300px;
  height: 30px;
  margin: 15px;
  box-shadow: -3px 3px 4px rgba(46, 45, 48, 0.479);
}
header {
  height: 100px;
}

footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: rgb(7, 21, 51);
  padding: 100px;
}



.process button, .beneficios button {
  border-radius: 10px;
  border-style: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  width: fit-content;
  float: right;
  margin: 10px;
  background-color: rgb(26, 91, 165);
  color: rgb(255, 255, 255);
}
.PromoBoton {

  border-radius: 70px;
  border-style: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  width: fit-content;
  margin: 10px;
  background-color: rgb(165, 26, 91);
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: rgb(114, 112, 231);
}

.principal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(37, 37, 37, 0), rgb(22, 119, 175)),
    url(/public/images/sonrisa.jpg);
  background-size: cover;
  background-position: center;
  background-color: lavender;
  padding: 50px;
  height: 600px;
  align-items: center;
  flex: 1;
  
}


.beneficios {
  background-image: linear-gradient(rgba(37, 37, 37, 0), rgb(22, 119, 175)),
    url(/public/images/cartel.jpg);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex: 100%;
  padding: 5%;
  margin-bottom: 100px;
  align-items: center;
}
.flex1 {
  flex-basis: 50%;
}
.flex2 {
  
  padding-left: 2%;
  margin: 0;
}

@media screen and (max-width: 1110px) {
  .beneficios{
    background-image: none;
  }
  .flex1 .flex2{
    flex-basis: 100%;
  }
  
}

.imgRedonda {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border: 10px solid rgb(102, 102, 102);
}
.caract {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.caract-body {
  padding: 10px;
  margin: 10px;
}

.caract-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  color: rgb(11, 86, 121);
}

.process {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}


@media screen and (max-width: 767px) {
  .process {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}

.process button {
  justify-self: center;
}

.imgProduct {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
}
/*animaci贸n imagenes de productos*/
.imgProduct:hover {
  animation-name: rotate;
  animation-duration: 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* fin de animaci贸n imagenes de productos*/
.precio {
  text-align: center;
  color: green;
}

/*animacion letra en secci贸n principal*/
#Titulo {
  padding-top: 10%;
}
::selection {
  background: transparent;
}

h1 {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  margin: auto;
  display: block;

 animation: bounce 0.3s ease infinite altegit 
  font-family: "Ubuntu", sans-serif;
  font-size: 6vw;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 6vw;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}

@keyframes bounce {
  100% {
    top: -30px;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 30px 30px rgba(0, 0, 0, 0.3);
  }
}

/*fin de la animaci贸n*/
.RRSSRedonda {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 10px solid rgb(102, 102, 102);
  align-items: center;
}

@media screen and (max-width:1100px){

 #frase{
    font-size: 36px;
  }
}
/*@media screen and (max-width:720px){
  #Titulo{
    font-size: 50px;
    line-height: 50px;
  }
}
*/